{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="{% static "console/toast.css" %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static "console/base.css" %}" type="text/css" media="all">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{% static "console/jquery.cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "console/console.js" %}"></script>
</head>
<body>
    <div class="container">
        <h1>ToDoo app</h1>
        <div class="nojs error">ToDoo needs JavaScript enabled in order to doo!</div>
        <div class="yesjs">
            {% block main %}{% block content %}Main content here{% endblock %}{% endblock %}
        </div>
    </div>
</body>
</html>