{% extends 'console/base.html' %}

<!--suppress HtmlFormInputWithoutLabel -->
{% block main %}
    <div class="app">
        <span class="unit span-grid loading">now loading...</span>
        <div class="hidden_ grid">
            <ul class="items unit span-grid">
                <li class="item form grid">
                    <span class="completed unit one-of-five"><input type="checkbox" /></span>
                    <span class="priority unit one-of-five"><input type="text" id="input_priority" /></span>
                    <span class="due_date unit one-of-five"><input type="date" id="input_due_date" /></span>
                    <span class="memo unit two-of-five">
                        <textarea id="input_memo"></textarea>
                    </span>
                </li>
                <li class="item grid prototype">
                    <span class="completed unit one-of-five"><input type="checkbox" /></span>
                    <span class="priority unit one-of-five"></span>
                    <span class="due_date unit one-of-five"></span>
                        <span class="memo unit two-of-five">
                            <span class="title"></span>
                            <span class="full"></span>
                        </span>
                </li>
                {% for i in "1234567" %}
                    <li class="item grid">
                        <span class="completed unit one-of-five"><input type="checkbox" /></span>
                        <span class="priority unit one-of-five">High!</span>
                        <span class="due_date unit one-of-five">17. 12. 2013.</span>
                        <span class="memo unit two-of-five">
                            <span class="title">Title title first line</span>
                            <span class="full">Title title first line<br />and all the other lines<br />> as well!</span>
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock main %}